<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script src="https://unpkg.com/wavesurfer.js"></script>

<script>
  window.splash1 = "<%= asset_path('landing_header_1.jpg') %>"
  window.splash2 = "<%= asset_path('landing_header_2.jpg') %>"
  window.defaultTrackImage = "<%= asset_path('default-track-image.png') %>"
  window.defaultUserImage = "<%= asset_path('default-user-image.png') %>"
</script>

<main id="root">No reaction here!</main>